<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP" value="mq-distributedTransactionStudy"/>
    <property name="LOG_HOME" value="/var/app/logs/${APP}/"/>
    <property name="encoding" value="UTF-8"/>
    <springProperty scope="context" name="profile" source="spring.profiles.active"/>

    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>false</Append>
        <prudent>false</prudent>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %5p %c.%M:%L - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <if condition='property("profile").equalsIgnoreCase("dev")'>
                <then>
                    <fileNamePattern>logs/info/info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                </then>
                <else>
                    <fileNamePattern>${LOG_HOME}/info/info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                </else>
            </if>
            <maxFileSize>1024MB</maxFileSize>
            <maxHistory>32</maxHistory>
            <totalSizeCap>32GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>false</Append>
        <prudent>false</prudent>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %5p %c.%M:%L - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <if condition='property("profile").equalsIgnoreCase("dev")'>
                <then>
                    <fileNamePattern>logs/error/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                </then>
                <else>
                    <fileNamePattern>${LOG_HOME}/error/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                </else>
            </if>
            <maxFileSize>1024MB</maxFileSize>
            <maxHistory>32</maxHistory>
            <totalSizeCap>32GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %5p %c.%M:%L - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="info"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>